.profile__avatar-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  background-image: url(../../../images/img3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  opacity: 0;
}

 .profile__avatar-button:hover {
   opacity: 1;
 }